[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "zsh/custom/plugins/zsh-syntax-highlighting"]
	path = zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "vimpager"]
	path = vimpager
	url = https://github.com/rkitover/vimpager.git
[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "zsh/custom/plugins/zaw"]
	path = zsh/custom/plugins/zaw
	url = https://github.com/zsh-users/zaw.git
[submodule "zsh/custom/plugins/zsh-dwim"]
	path = zsh/custom/plugins/zsh-dwim
	url = https://github.com/oknowton/zsh-dwim.git
[submodule "emacs.d/plugin/evil-plugins"]
	path = emacs.d/plugin/evil-plugins
	url = https://github.com/tarao/evil-plugins
[submodule "zsh/custom/plugins/nix-zsh-completions"]
	path = zsh/custom/plugins/nix
	url = https://github.com/spwhitt/nix-zsh-completions
